body {
    background-color: #bd9f91;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coffee-card {
    border: 2px solid white;
    margin: 12px;
    width: 20%;
    height: 350px;

}

/* media screen */
@media screen and (max-width: 414px){
    .coffee-card {
        width: 80%;
        height: 350px;
    }
}
/* end media screen */