body {
    background-color: #067655;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coffee-card {
    border-radius: 15px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.75);
    background-color: white;
    margin: 12px;
    padding: 8px;
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

}

.coffee-img {
    flex-grow: 2;
}

.coffee-img img {
    border-radius: 5px;
    height: 170px;
    width: 100px;
}

.coffee-facts li {
    font-size: 1em;
}

/* media screen */
@media screen and (max-width: 414px){
    .coffee-card {
        width: 80%;
        height: 350px;
    }
}
/* end media screen */